@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@font-face{font-family:'Ionicons'; src:url('../fonts/ionicons.woff')}



/*
font-family: 'Gothic A1', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Jua', sans-serif; */
html,
body {
  margin: 0;
  font-size: 62.5%;
}
p,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: #555;
}



/* Slider */
/* /* .slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.slick-prev{
   position:absolute;
   left:0; top:50%;
   width:60px;
   height:60px;
   background: #f00;
   z-index:10;
}
.slick-next{
    position:absolute;
    right:0; top:50%;
    width:60px;
    height:60px;
    background: #f00;
    z-index:10;

}
.slick-dots{text-align: center; position:absolute; left:50%; bottom:45%; z-index: 10; transform:translate(-50%, 0)}
.slick-dots li{display: inline-block; }
.slick-dots li button{font-size: 0; width:10px; height:10px; border-radius: 100%; border:none;margin:0 5px;outline-style:none;}
.slick-active button{
    background:#f00;
    
}
 */
