@charset 'utf-8';
@import url('common.css');

/* header */
header{width:1060px; margin:0 auto; display: flex; justify-content:space-between; align-items: center; padding:68px 0; text-transform: uppercase; }
header nav a{font-size: 14px; font-weight: bold; text-transform: uppercase; display: inline-block; padding:0 20px; color:#626262;}
header nav a:hover{color:#cd8940;}
header nav a:nth-of-type(4){padding-right:0;}

/* main */

.spot{width:1060px; height:510px; background:0 0 /cover url('../imgs/img_spot.jpg') no-repeat; margin:0 auto;}

.text{width:1060px; margin:95px auto; padding:0 70px; display: flex; flex-direction: column; justify-content: left; }
.text h3{color:#b4ad9e; font-size: 17px; font-weight: 300; margin-bottom: 28px;}
.text span{font-size: 30px;  color: #626262; margin-bottom: 26px;}
.text p{color: #777777; font-size: 14px;}

.post{width:1060px; margin:0 auto; padding: 0 70px; display:flex; flex-wrap:wrap; justify-content: space-between; }
.post ul{width:45%; margin-bottom: 100px;}


.post ul h3{font-size: 14px; font-weight: 300; color: #b4ad9e; margin:30px 0 28px 0;}
.post ul span{font-size: 26px; color:#626262; display: block; margin-bottom:18px ;}
.post ul p{font-size: 14px; color:#777777;}
.post ul img{width:100%;}


.letter{width:1200px; height:287px; margin:0 auto; background:#f0f0f0; display: flex; flex-direction: column; justify-content:center; align-items: center; }
.letter h2{margin-bottom: 80px;}
.letter .bar{width:320px; display:flex; justify-content: space-between; border-bottom: 1px solid black; }
.letter .bar input[name="email"]{border:none; background:#f0f0f0; color:#878787; width:288px; margin-bottom: 10px;}
.letter .bar input[name="submit"]{background:url('../imgs/send\ icon.png') no-repeat; border:none; width:32px; height:17px; }
/* footer */

footer{width:1060px; margin:0 auto; padding: 50px; display:flex; justify-content: space-between; align-items: center;}
footer span{color: #777777; font-size:14px; padding:0 15px;}
footer .ft02 .sns a{width:20px; height:14px; background:url('../imgs/img_sns.png') no-repeat; display: inline-block; }
footer .ft02 .sns a:nth-of-type(1){background-position-x: 1px;}
footer .ft02 .sns a:nth-of-type(2){background-position-x: -25px;}
footer .ft02 .sns a:nth-of-type(3){background-position-x: -55px;}
footer .ft02 .sns a:hover{background-position-y: -15px;}