@charset 'utf-8';

@import url("common.css");

/* header */
.s_head {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0;
  height: 15vh;
  margin: 0 auto;
}
.s_head h2 a {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  color: #494949;
}
.s_head > ul {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.nav {
  text-align: right;
}
.nav a {
  display: block;
  padding: 0 1vw;
  line-height: inherit;
  cursor: pointer;
}
.nav_menu {
  line-height: 4rem;
  font-weight: bold;
}
.nav_menu-item {
  display: inline-block;
  position: relative;
  z-index: 90;
}
.nav_menu-item:hover {
  background-color: #ffbc5e;
}
.nav_menu-item:hover .nav_submenu {
  display: block;
}
.nav_submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 100%;
  background-color: #ffbc5e;
}
.nav_submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
.m_txt2 {
  font-family: "Gothic A1", sans-serif;
  color: #494949;
  text-align: center;
  font-size: 1.4rem;
}

.m_txt {
  color: #494949;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

/* footer */

footer {
  background: #faf4ed;
}

.foot_top {
  width: 80%;
  margin: 0 auto;
  padding: 4% 0 2% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.foot_top nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.foot_top nav a {
  font-size: 1.4rem;
}

.con_sns2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.con_sns2 li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.con_sns2 li a {
  width: 5rem;
  height: 5rem;
  background-color: #faf4ed;
  text-align: center;

  font-size: 3rem;
  margin: 0 1rem;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 0.2rem solid #494949;
}
.con_sns2 li a .fab {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
.con_sns2 li a:hover {
  border: 0.3rem solid #fff;
}
.con_sns2 li a:hover .fab {
  color: #fff;
  transform: rotateY(360deg);
}

.con_sns2 li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.con_sns2 li a:hover:before {
  top: 0;
}

.con_sns2 li:nth-child(1) a:before {
  background: #3b5999;
}

.con_sns2 li:nth-child(2) a:before {
  background: #55acee;
}

.con_sns2 li:nth-child(3) a:before {
  background: #e4405f;
}
.con_sns2 li:nth-child(4) a:before {
  background: #00c300;
}

.foot_bottom {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.foot_bottom div:nth-of-type(1) {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot_bottom div:nth-of-type(1) a {
  font-weight: bold;
  font-size: 3rem;
}
.foot_bottom div:nth-of-type(1) div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.foot_bottom div:nth-of-type(1) div p {
  font-size: 1rem;
}
.foot_bottom div:nth-of-type(1) div span {
  display: block;
  font-size: 1rem;
}

.foot_bottom div:nth-of-type(2) {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.foot_bottom div:nth-of-type(2) p {
  font-size: 2rem;
}
.foot_bottom div:nth-of-type(2) ul {
  display: block;
  padding: 0.5vw 0 0 2vw;
}

.supot_call {
  background: url("../imgs/phone.png") no-repeat;
  padding: 0.3vw 0 1vw 3vw;
  font-size: 1.2rem;
}
.supot_mail {
  background: url("../imgs/mail.png") no-repeat;
  padding: 0.3vw 0 1vw 3vw;
  font-size: 1.2rem;
}
